//----------------------------------------------------
// マイページに表示されているバー
//----------------------------------------------------

.p-mypage-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #fff;
}
