//----------------------------------------------------
// color
//----------------------------------------------------
.u-color-default {
  color: $font-color_default !important;
}
.u-color-link {
  color: $font-color_link !important;
}
.u-color-placeholder {
  color: $font-color_placeholder !important;
}
.u-color-err {
  color: $font-color_err !important;
}
.u-color-primary {
  color: $font-color_primary !important;
}
