//----------------------------------------------------
// font-size
//----------------------------------------------------
.u-fs-ss {
  font-size: $font-size_ss !important;
}
.u-fs-s {
  font-size: $font-size_s !important;
}
.u-fs-default {
  font-size: $font-size_default !important;
}
.u-fs-m {
  font-size: $font-size_m !important;
}
.u-fs-l {
  font-size: $font-size_l !important;
}
.u-fs-xl {
  font-size: $font-size_xl !important;
}
.u-fs-xxl {
  font-size: $font-size_xxl !important;
}
.u-fs-3l {
  font-size: $font-size_3l !important;
}

//----------------------------------------------------
// font-weight
//----------------------------------------------------
.u-fw-normal {
  font-weight: normal !important;
}
.u-fw-bold {
  font-weight: bold !important;
}
