//----------------------------------------------------
// margin
//----------------------------------------------------
// 0 auto
.u-mt0auto {
  margin: 0 auto !important;
}

// all
.u-m0 {
  margin: 0 !important;
}

.u-m10 {
  margin: 10px !important;
}

.u-m15 {
  margin: 15px !important;
}

.u-m20 {
  margin: 20px !important;
}

.u-m25 {
  margin: 25px !important;
}

.u-m30 {
  margin: 30px !important;
}

.u-m35 {
  margin: 35px !important;
}

.u-m40 {
  margin: 40px !important;
}

// top & bottom
.u-mtb0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-mtb5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.u-mtb10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.u-mtb15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.u-mtb20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.u-mtb25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.u-mtb30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.u-mtb35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.u-mtb40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.u-mtb50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.u-mtb60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

// top
.u-mt0 {
  margin-top: 0 !important;
}

.u-mt5 {
  margin-top: 5px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mt15 {
  margin-top: 15px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt25 {
  margin-top: 25px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mt35 {
  margin-top: 35px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mt60 {
  margin-top: 60px !important;
}

// bottom
.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mb25 {
  margin-bottom: 25px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-mb35 {
  margin-bottom: 35px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

.u-mb60 {
  margin-bottom: 60px !important;
}

// left
.u-ml0 {
  margin-left: 0 !important;
}

.u-ml5 {
  margin-left: 5px !important;
}

.u-ml10 {
  margin-left: 10px !important;
}

.u-ml15 {
  margin-left: 15px !important;
}

.u-ml20 {
  margin-left: 20px !important;
}

.u-ml30 {
  margin-left: 30px !important;
}

.u-ml35 {
  margin-left: 35px !important;
}

.u-ml40 {
  margin-left: 40px !important;
}

.u-ml50 {
  margin-left: 50px !important;
}

.u-ml60 {
  margin-left: 60px !important;
}

// right
.u-mr0 {
  margin-right: 0 !important;
}

.u-mr5 {
  margin-right: 5px !important;
}

.u-mr10 {
  margin-right: 10px !important;
}

.u-mr15 {
  margin-right: 15px !important;
}

.u-mr20 {
  margin-right: 20px !important;
}

.u-mr30 {
  margin-right: 30px !important;
}

.u-mr35 {
  margin-right: 35px !important;
}

.u-mr40 {
  margin-right: 40px !important;
}

.u-mr50 {
  margin-right: 50px !important;
}

.u-mr60 {
  margin-right: 60px !important;
}
