//----------------------------------------------------
// padding
//----------------------------------------------------
// all
.u-p0 {
  padding: 0 !important;
}
.u-p10 {
  padding: 10px !important;
}
.u-p15 {
  padding: 15px !important;
}
.u-p20 {
  padding: 20px !important;
}
.u-p25 {
  padding: 25px !important;
}
.u-p30 {
  padding: 30px !important;
}
.u-p35 {
  padding: 35px !important;
}
.u-p40 {
  padding: 40px !important;
}

// top
.u-pt0 {
  padding-top: 0 !important;
}
.u-pt10 {
  padding-top: 10px !important;
}
.u-pt15 {
  padding-top: 15px !important;
}
.u-pt20 {
  padding-top: 20px !important;
}
.u-pt25 {
  padding-top: 25px !important;
}
.u-pt30 {
  padding-top: 30px !important;
}
.u-pt35 {
  padding-top: 35px !important;
}
.u-pt40 {
  padding-top: 40px !important;
}

// bottom
.u-pb0 {
  padding-bottom: 0 !important;
}
.u-pb10 {
  padding-bottom: 10px !important;
}
.u-pb15 {
  padding-bottom: 15px !important;
}
.u-pb20 {
  padding-bottom: 20px !important;
}
.u-pb25 {
  padding-bottom: 25px !important;
}
.u-pb30 {
  padding-bottom: 30px !important;
}
.u-pb35 {
  padding-bottom: 35px !important;
}
.u-pb40 {
  padding-bottom: 40px !important;
}

// left
.u-pl0 {
  padding-left: 0 !important;
}
.u-pl10 {
  padding-left: 10px !important;
}
.u-pl15 {
  padding-left: 15px !important;
}
.u-pl20 {
  padding-left: 20px !important;
}
.u-pl25 {
  padding-left: 25px !important;
}
.u-pl30 {
  padding-left: 30px !important;
}
.u-pl35 {
  padding-left: 35px !important;
}
.u-pl40 {
  padding-left: 40px !important;
}

// right
.u-pr0 {
  padding-right: 0 !important;
}
.u-pr10 {
  padding-right: 10px !important;
}
.u-pr15 {
  padding-right: 15px !important;
}
.u-pr20 {
  padding-right: 20px !important;
}
.u-pr25 {
  padding-right: 25px !important;
}
.u-pr30 {
  padding-right: 30px !important;
}
.u-pr35 {
  padding-right: 35px !important;
}
.u-pr40 {
  padding-right: 40px !important;
}
