//----------------------------------------------------
// position
//----------------------------------------------------
.u-pos-r {
  position: relative !important;
}
.u-pos-a {
  position: absolute !important;
}
.u-pos-f {
  position: fixed !important;
}
